<%- include("../partials/header.ejs") %>

    <section style="background-color: #eee;">
        <div class="container py-5">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
              <div class="card" style="border-radius: 15px;">
                <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="<%= product.image %>"
                    style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid"/>
                </div>
                <div class="card-body pb-0">
                  <div class="d-flex justify-content-between">
                    <div>
                      <p class="productName"><%= product.Name %></p>
                      <p class="small text-muted"><%= product.Detail %></p>
                      <p class="small text-muted">Seller : <%= product.author.username %></p>
                    </div>
                  </div>
                </div>
                <hr class="my-0" />
                <div class="card-body pb-0">
                  <div class="d-flex justify-content-between">
                    <p>Price : </p>
                    <p class="text-dark"><%= product.Price %></p>
                  </div>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                    <a href="/" class="text-dark fw-bold">Cancel</a>
                    <a href="/<%= product._id %>/Add_to_cart" class="btn btn-sm btn-outline-secondary">Add to cart</a>
                  </div>
                  <% if (currentUser && product.author.id.equals(currentUser._id) || (currentUser && currentUser.isAdmin)){ %>
                  <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                        <a href="/<%= product._id %>/edit" class="btn btn-sm btn-outline-secondary">Edit</a> <!--ปุ่ม Edit การทำงานคือจะพาไปหน้า Form สำหรับ edit-->
                        <form id="delete-form" action="/<%= product._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>
                        </form>
                  </div>
                  <% } %>
                  <h2>Comments:</h2>
                  <a href="/<%= product._id %>/comments/new" class="btn btn-sm btn-outline-secondary">Add new comment</a>
                  <% product.comments.forEach(function(comment){ %>
                      <p>
                          <strong><%= comment.author.username %></strong> - <%= comment.text %>
                      </p>
                      <% if (currentUser && comment.author.id.equals(currentUser._id) || (currentUser && currentUser.isAdmin)){ %>
                          <a href="/<%= product._id %>/comments/<%= comment.id %>/edit" class="btn btn-sm btn-outline-secondary">Edit</a> <!--ปุ่ม Edit การทำงานคือจะพาไปหน้า Form สำหรับ edit-->
                          <form id="delete-form" action="/<%= product._id %>/comments/<%= comment.id %>?_method=DELETE" method="POST">
                              <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>
                          </form>
                      <% } %>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<%- include("../partials/footer.ejs") %>